// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------
.heroCarousel-wrapper{
    position: relative;
}

.heroCarousel {
    width: 1px;
    min-width: 100%;
    white-space: nowrap;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;

    &.slick-dotted{
        margin-bottom: 0;
    }

    &.slick-initialized {
        max-height: 970px;
        opacity: 1;
    }

    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    .slick-arrow{
        width: 72px;
        height: 72px;
        padding: 17px;
        border-radius: 50%;
        fill: stencilColor('carousel-arrow-color');
        stroke: stencilColor('carousel-arrow-color');
        border: 2px solid stencilColor('carousel-arrow-color');
        transition: $anchor-transition;
        background-color: transparent;
        visibility: hidden;
        opacity: 0;
        cursor: pointer;

        &:before {
            content: none;
        }

        &.slick-prev {
            left: 15px;
        }

        &.slick-next {
            right: 15px;
        }

        &.slick-disabled{
            opacity: 0.5!important;
            cursor: default;
        }

        &:hover {
            fill: stencilColor('carousel-arrow-color');
            stroke: stencilColor('carousel-arrow-color');
        }
    }

    .slick-dots {
        left: 0;
        right: 0;
        bottom: 10px;

        li {
           padding: 0;
            width: auto;
            height: auto;
            vertical-align: middle;
            margin: 0 10px;

            button{
                font-size: 0;
                background-color: transparent;
                border-color: $slick-dot-bgColor;
                opacity: 1;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &:before{
                    display: none;
                }
            }

            &.slick-active{
                button{
                    border-color: $slick-dot-bgColor;
                    background-color: $slick-dot-bgColor;
                }
            }
        }
    }

    .slick-slide {
        .heroCarousel-subtitle{
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-title {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-description {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-customLink {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-countdown {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }

        .heroCarousel-action {
            visibility: hidden;
            animation-delay: 0ms;
            animation-name: fadeOutDown;
        }
    }

    .slick-current {
        .heroCarousel-subtitle{
            visibility: visible;
            animation-delay: 50ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-title {
            visibility: visible;
            animation-delay: 100ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-description {
            visibility: visible;
            animation-delay: 150ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-customLink {
            visibility: visible;
            animation-delay: 200ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-countdown {
            visibility: visible;
            animation-delay: 250ms;
            animation-name: fadeInUp;
        }

        .heroCarousel-action {
            visibility: visible;
            animation-delay: 300ms;
            animation-name: fadeInUp;
        }
    }

    @media (min-width: 768px){
        overflow: hidden;
    }

    @media (min-width: 1025px){
        .slick-dots{
            bottom: 30px;

            li {
                margin-left: 14px;
                margin-right: 14px;
            }
        }

        .slick-arrow{
            &.slick-next {
                right: 60px;
            }

            &.slick-prev {
                left: 60px;
            }
        }

        &:hover{
            .slick-arrow{
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @media (min-width: 1600px){
        .slick-dots{
            bottom: 43px;
        }
    }
}

.heroCarousel-slide {
    position: relative;

    .heroCarousel-image {
        min-height: stencilString("homepage_show_carousel_height_mobile");
        object-fit: cover;
        img{
            display: none;

            &.image-mobile{
                display: block;
                min-height: stencilString("homepage_show_carousel_height_mobile");
                object-fit: cover;
            }

            &.lazyload,
            &.lazyloading{
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: scale-down;
            }
        }
    }

    @media (min-width: 551px) {
        .heroCarousel-image {
            img{
                display: block;

                &.image-mobile{
                    display: none;
                }
            }
        }
    }

    @media (min-width: 551px) and (max-width: 767px){
        .heroCarousel-image {
            img{
                display: block;
            }
        }
    }
}

.heroCarousel-content {
    position: absolute;
    background-color: stencilColor('carousel-bgColor');
    top: 50%;
    left: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    max-width: 500px;
    text-align: center;
    padding: 0 15px;
    transform: translateY(-50%);
    white-space: normal;
    margin: 0 auto;
    padding-bottom: 8px;
    &.heroCarousel-content--notEmpty{
        padding: 15px;
        max-width: 500px;
    }

    @media (min-width: 768px){
        right: unset;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 992px) {
        padding-left: 0;
        padding-right: 0;

        &.heroCarousel-content--empty {
            background-color: transparent;
        }
    }

    @media (min-width: 1025px){
        max-width: 450px;

        &.heroCarousel-content--left{
            left: 30px;
            text-align: left;
            transform: translateY(-50%);

            .heroCarousel-countdown{
                justify-content: flex-start;
            }
        }

        &.heroCarousel-content--center{
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &.heroCarousel-content--right{
            left: auto;
            right: 30px;
            text-align: right;
            transform: translateY(-50%);

            .heroCarousel-countdown{
                justify-content: flex-end;
            }
        }
    }

    @media (min-width: 1600px){
        &.heroCarousel-content--left{
            left: calc((100% - 1470px)/ 2);

            .home-layout-2 & {
                left: calc((100% - 1270px)/ 2);
            }
        }

        &.heroCarousel-content--right{
            right: calc((100% - 1470px)/ 2);

            .home-layout-2 & {
                right: calc((100% - 1270px)/ 2);
            }
        }
    }

    @media (min-width: 1920px){
        &.heroCarousel-content--left{
            left: calc((100% - 1570px)/ 2);
        }

        &.heroCarousel-content--right{
            right: calc((100% - 1570px)/ 2);
        }
    }
}

.heroCarousel-subtitle{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: $carousel-title-color;
    font-size: $fontSize-root - 2px;
    line-height: $fontSize-root + 6;
    line-height: 2;
    margin: 0 0 10px 0;
    position: relative;
    text-transform: uppercase;
    @media (min-width: 381px){
        margin-bottom: 15px;
    }
    @media (min-width: 1025px){
        margin-bottom: 18px;
    }
}

.heroCarousel-title {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: $fontSize-hero - 12px;
    font-weight: $fontWeight-normal;
    color: $carousel-title-color;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0 0 10px 0;

    .home-layout-2 & {
        font-weight: $fontWeight-bold;
    }

    @media (min-width: 321px){
        font-size: 30px;
    }
    @media (min-width: 381px){
        margin-bottom: 15px;
    }

    @media (min-width: 1025px){
        font-size: 36px;
        margin-bottom: 25px;

        .home-layout-2 & {
            margin-bottom: 17px;
        }
    }

    @media (min-width: 1600px){
        margin-bottom: 30px;

        .home-layout-2 & {
            font-size: 48px;
        }
    }

    @media (min-width: 1920px){
        font-size: $fontSize-hero;
    }
}

.heroCarousel-countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px 0;
    font-size: 18px;
    font-family: $fontFamily-headings;
    font-weight: $fontWeight-medium;
    line-height: $lineHeight-tiny;
    color: $carousel-description-color;

    .num{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        width: 50px;
        height: 50px;
        border: 1px solid $carousel-description-color;
        border-radius: 50%;
        text-align: center;

        span{
            display: block;
            width: 100%;
            font-size: $fontSize-root - 4px;
            font-family: $fontFamily-sans;
        }

        + .num{
            margin-left: 20px;
        }
    }

    @media (min-width: 551px){
        font-size: 20px;

        .num{
            width: 60px;
            height: 60px;
        }
    }

    @media (min-width: 992px){
        font-size: 22px;

        .num{
            width: 72px;
            height: 72px;

            span{
                font-size: $fontSize-root - 2px;
            }
        }
    }

    @media (min-width: 1025px){
        margin-bottom: 45px;

        font-size: 24px;

        .num{
            width: 75px;
            height: 75px;
        }
    }
}

.heroCarousel-description {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 10px 0;
    color: $carousel-description-color;
    @media (min-width: 381px) {
        margin-bottom: 15px;
    }
    @media (min-width: 1025px) {
        margin-bottom: 22px;

        .home-layout-2 & {
            margin-bottom: 17px;
        }
    }
    @media(min-width: 1280px) {
        .home-layout-2 & {
            max-width: 345px;
        }
    }
}

.heroCarousel-customLink{
    display: block;
    font-size: 0;
    letter-spacing: 0;
    margin: 0 0 10px 0;
    padding: 0;

    li{
        display: inline-block;
        vertical-align: top;
        font-size: $fontSize-root;

        a{
            display: block;
            padding: 10px;
            color: $carousel-description-color;
            line-height: $lineHeight-large;
            transition: unset;
        }

        span{
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                left: 0;
                width: 100%;
                bottom: -1px;
                height: 1px;
                display: block;
                background: $carousel-description-color;
            }
        }
    }

    @media (min-width: 551px){
        li{
            a{
                padding: 0px 24px 15px 24px;
            }

            &:first-child{
                a{
                    padding-left: 0;
                }
            }
        }
    }

    @media (min-width: 1025px){
        li{
            &:hover{
                a{
                    color: $color-textLink-hover;
                }

                span{
                    &:before{
                        background: $color-textLink-hover;
                    }
                }
            }
        }
    }

    @media (min-width: 1600px){
        padding-bottom: 12px;
    }
}

.heroCarousel-action {
    margin: 10px 0 0 0;

    .button{
        min-width: 200px;

        &.button--large{
            min-width: 250px;
        }
        + .button{
            margin-top: 10px;
        }

        .home-layout-2 & {
            min-width: 180px;
        }
    }

    @media (min-width: 551px){
        margin: 18px 0 0 0;
        .button{
            + .button{
                margin-left: 30px;
                margin-top: 0;
            }
        }
    }
}

.heroCarousel-custom{
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    min-width: unset!important;
    width: 50px!important;
    transform: translateY(-50%);
    margin: 0!important;
    display: none!important;
    @include clearfix;

    .slick-dots{
        width: 50px;
        position: relative;
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;

        li{
            padding: 0;
            width: 100%;
            height: auto;
            margin: 0;
            text-align: right;

            + li{
                margin-top: 15px;
            }
            .slick-dots-item {
                border: none;
                background: none;
                color: $carousel-description-color;
                border: none;
                background: none;
                width: auto;
                height: auto;
                font-size: $body-fontSize;
                line-height: $body-fontSize + 10;
                &:before{
                    content: '';
                    background: $carousel-description-color;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                    height: 1px;
                    display: none;
                    top: auto;
                }
            }
            &.slick-active {
                .slick-dots-item {
                    border: none;
                    background: none;
                    &:before{
                        display: block;
                    }
                }
            }
        }
    }

    @media (min-width: 551px){
        display: block!important;
    }

    @media (min-width: 1025px){
        right: 30px;

        &.heroCarousel-customRight{
            right: auto;
            left: 30px;
        }

        .slick-dots{
            li{
                + li{
                    margin-top: 30px;
                }
            }
        }
    }

    @media (min-width: 1600px){
        right: calc((100% - 1470px)/ 2);

        &.heroCarousel-customRight{
            left: calc((100% - 1470px)/ 2);
        }
    }

    @media (min-width: 1920px){
        right: calc((100% - 1570px)/ 2);

        &.heroCarousel-customRight{
            left: calc((100% - 1570px)/ 2);
        }
    }
}
