// =============================================================================
// ACCOUNT
// =============================================================================


// Account layouts
// -----------------------------------------------------------------------------

.account {
    display: block;
    margin: 0;
}

.account--fixed {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(8, $total-columns);
    }
}

.account--fixedSmall {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(6, $total-columns);
    }
}

.account--fixedLarge {
    @media (min-width: 1025px) {
        margin: 0 auto;
        width: grid-calc(9, $total-columns);
    }
}

.account-head {
    margin-bottom: spacing("double");
    text-align: center;

    .alertBox {
        padding-left: spacing("double");
        padding-right: spacing("double");
        text-align: left;
    }
}

.account-body {
    margin: 0;
    @include clearfix;

    @media (min-width: 1025px) {
        margin-bottom: 20px;
    }
}

.account-content {
    @include grid-column(12);

    .alertBox {
        margin-top: 30px;
    }

    .productGrid {
        margin-top: 30px;

        .product {
            .form {
                text-align: center;
                margin-bottom: 0;
            }
        }
    }

    .account-row {
        margin: 30px 0 0 0;
    }

    &.account-content2 {
        padding-left: 0;
        padding-right: 0;
        float: none;
    }

    @media (min-width: 1025px) {
        .productGrid {
            .card-body {
                .card-body-button {
                    top: 0;
                }
            }

            .card {
                &:hover {
                    .card-body {
                        .card-body-button {
                            top: -60px;

                            .home-layout-2 & {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.account-content--fixed {
    @media (min-width: 1025px) {
        width: grid-calc(8, $total-columns);
    }
}

.account-content--fixedSmall {
    padding-top: 45px;

    .account-product-title {
        font-size: $fontSize-root;
        text-transform: capitalize;
    }

    &.account-content2 {
        width: 100%;
    }

    @media (min-width: 1025px) {
        width: grid-calc(6, $total-columns);
    }
}

.account-sidebar {
    padding-top: 45px;
    @include grid-column(12);

    @media (min-width: 1025px) {
        width: grid-calc(4, $total-columns);

        .account-content--fixedSmall+& {
            float: right;
        }
    }
}

[data-create-account-form],
.new-password-form {
    margin: 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }

        .form-input,
        .form-select {
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
        }
    }

    .form-actions {
        display: block;
        margin: 20px 0 0 0;
        text-align: center;

        .button {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                max-width: 190px;
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -35px;
            margin-right: -35px;

            .form-field {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}

[data-address-form],
[data-edit-account-form],
[data-payment-method-form] {
    margin: 40px 0 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }

        .form-input,
        .form-select {
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
        }
    }

    .form-field--textarea {
        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }
    }


    .form-actions {
        display: block;
        margin: 20px 0 0 0;
        text-align: center;

        .button {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                max-width: 190px;
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -35px;
            margin-right: -35px;

            .form-field {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}

[data-message-account-form],
[data-account-return-form] {
    margin: 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }

        .form-input,
        .form-select {
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
        }
    }

    .form-field--textarea {
        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }
    }

    .form-actions {
        display: block;
        margin: 20px 0 0 0;
        text-align: center;

        .button {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }
        }

        .form-actions {
            margin-top: 0;
            text-align: left;

            .button {
                display: inline-block;
                vertical-align: top;
                max-width: 190px;
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -35px;
            margin-right: -35px;

            .form-field {
                padding-left: 35px;
                padding-right: 35px;
            }
        }
    }
}

[data-account-wishlist-form] {
    margin: 40px auto 0 auto;

    .form-label {
        small {
            font-size: $fontSize-root - 2px;
            font-style: italic;
            font-weight: $fontWeight-normal;
            text-transform: capitalize;
        }
    }

    .form-input,
    .form-select {
        height: 50px;
        line-height: 50px;
    }
}

[data-add-giftcertificates-form] {
    margin: 40px auto 0 auto;
    max-width: 34.375rem;

    .form-label {
        small {
            font-size: $fontSize-root - 2px;
            font-style: italic;
            font-weight: $fontWeight-normal;
            text-transform: capitalize;
        }
    }

    .form-input,
    .form-select {
        height: 50px;
        line-height: 50px;
    }
}

[data-giftcertificates-form] {
    margin: 40px 0 0 0;

    .form-row {
        display: block;
        font-size: 0;
        letter-spacing: 0;
        margin: 0 -15px;
        max-width: unset;

        .form-field {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            width: 100%;
            margin: 0 0 20px 0;
            float: none;
        }

        .form-label {
            small {
                font-size: $fontSize-root - 2px;
                font-style: italic;
                font-weight: $fontWeight-normal;
                text-transform: capitalize;
            }
        }

        .form-input,
        .form-select {
            height: 50px;
            line-height: 50px;
            margin-bottom: 0;
        }

        .form-field--textarea {
            .form-input {
                min-height: 150px;
                line-height: inherit;
            }
        }

        .form-radio {
            +.form-label {
                color: $color-textBase;
            }
        }

        .form-field--checkbox {
            margin-bottom: 0;

            .form-checkbox {
                +.form-label {
                    color: $color-textBase;

                    &:before {
                        top: 5px;
                    }

                    &:after {
                        top: 6px;
                    }
                }
            }

            +.form-field--checkbox {
                margin-top: 5px;
            }
        }

        .form-field-group {
            border-color: #f8f8f8;
            background-color: #f8f8f8;
            padding: 17px 22px 10px 22px;
        }
    }

    .form-column {
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        +.form-column {
            margin-top: 15px;
        }
    }

    .form-actions {
        display: block;
        margin: 0;
        text-align: center;
        max-width: 100%;

        .button {
            display: block;
            width: 100%;
            height: 50px;
            line-height: 50px;

            +.button {
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }

    @media (min-width: 768px) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;

            .form-field {
                padding-left: 15px;
                padding-right: 15px;
                width: 50%;
            }

            .form-column {
                .form-field {
                    width: 100%;
                }
            }
        }

        .form-column {
            width: 50%;

            +.form-column {
                margin-top: 0;
            }
        }

        .form-actions {
            text-align: right;

            .button {
                display: inline-block;
                vertical-align: top;
                width: 190px;

                +.button {
                    width: calc(50% - 220px);
                    margin-left: 15px;
                    margin-top: 0;
                }
            }
        }
    }

    @media (min-width: 1600px) {
        .form-row {
            margin-left: -35px;
            margin-right: -35px;

            .form-field {
                padding-left: 35px;
                padding-right: 35px;
            }
        }

        .form-actions {
            padding-top: 10px;

            .button {
                +.button {
                    width: calc(50% - 260px);
                    margin-left: 30px;
                }
            }
        }
    }
}

.forgot-password-text,
.new-password-text {
    font-size: $fontSize-root;
    font-weight: $fontWeight-normal;
    color: $color-textBase;
    line-height: 1.625;
    margin: 0 0 20px 0;
}

.forgot-password-form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;

    .form-input {
        height: 50px;
        line-height: 50px;
        margin-bottom: 0;
    }

    .button {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 20px 0 0 0;
    }

    @media (min-width: 768px) {
        .button {
            width: auto;
            margin-left: 20px;
            margin-top: 0;
        }
    }

    @media (min-width: 1025px) {
        max-width: 970px;
    }
}