{{#if theme_settings.halo_icon_with_text}} 
    <div class="halo-block halo-block-icon-text padding-top-0 padding-bottom-0">
        <div class="container container-no-padding">
            <div class="halo-row">
                <div class="halo-row-slider">
                    <div class="halo-row-item">
                        <div class="icon-with-text">
                            {{#or (if theme_settings.halo_icon_with_text-1-title) (if theme_settings.halo_icon_with_text-1-text)}} 
                                <div class="icon">
                                    {{#if theme_settings.halo_icon_with_text-1-img}}
                                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_icon_with_text-1-img}}" alt="{{theme_settings.halo_icon_with_text-1-title}}" />
                                    {{else}}
                                        <svg aria-hidden="true"><use xlink:href="#icon-truck"></use></svg>
                                    {{/if}}
                                </div>
                            {{/or}}
                            <div class="content">
                                {{#if theme_settings.halo_icon_with_text-1-title}} 
                                    <h3 class="title">{{theme_settings.halo_icon_with_text-1-title}}</h3>
                                {{/if}}
                                {{#if theme_settings.halo_icon_with_text-1-text}} 
                                    <span class="desc">{{theme_settings.halo_icon_with_text-1-text}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="halo-row-slider">
                    <div class="halo-row-item">
                        <div class="icon-with-text">
                            {{#or (if theme_settings.halo_icon_with_text-2-title) (if theme_settings.halo_icon_with_text-2-text)}} 
                                <div class="icon">
                                    {{#if theme_settings.halo_icon_with_text-2-img}}
                                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_icon_with_text-2-img}}" alt="{{theme_settings.halo_icon_with_text-2-title}}" />
                                    {{else}}
                                        <svg aria-hidden="true"><use xlink:href="#icon-revert"></use></svg>
                                    {{/if}}
                                </div>
                            {{/or}}
                            <div class="content">
                                {{#if theme_settings.halo_icon_with_text-2-title}} 
                                    <h3 class="title">{{theme_settings.halo_icon_with_text-2-title}}</h3>
                                {{/if}}
                                {{#if theme_settings.halo_icon_with_text-2-text}} 
                                    <span class="desc">{{theme_settings.halo_icon_with_text-2-text}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="halo-row-slider">
                    <div class="halo-row-item">
                        <div class="icon-with-text">
                            {{#or (if theme_settings.halo_icon_with_text-3-title) (if theme_settings.halo_icon_with_text-3-text)}} 
                                <div class="icon">
                                    {{#if theme_settings.halo_icon_with_text-3-img}}
                                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_icon_with_text-3-img}}" alt="{{theme_settings.halo_icon_with_text-3-title}}" />
                                    {{else}}
                                        <svg aria-hidden="true"><use xlink:href="#icon-customer"></use></svg>
                                    {{/if}}
                                </div>
                            {{/or}}
                            <div class="content">
                                {{#if theme_settings.halo_icon_with_text-3-title}} 
                                    <h3 class="title">{{theme_settings.halo_icon_with_text-3-title}}</h3>
                                {{/if}}
                                {{#if theme_settings.halo_icon_with_text-3-text}} 
                                    <span class="desc">{{theme_settings.halo_icon_with_text-3-text}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="halo-row-slider">
                    <div class="halo-row-item">
                        <div class="icon-with-text">
                            {{#or (if theme_settings.halo_icon_with_text-4-title) (if theme_settings.halo_icon_with_text-4-text)}} 
                                <div class="icon">
                                    {{#if theme_settings.halo_icon_with_text-4-img}}
                                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{theme_settings.halo_icon_with_text-4-img}}" alt="{{theme_settings.halo_icon_with_text-4-title}}" />
                                    {{else}}
                                        <svg aria-hidden="true"><use xlink:href="#icon-user-headset"></use></svg>
                                    {{/if}}
                                </div>
                            {{/or}}
                            <div class="content">
                                {{#if theme_settings.halo_icon_with_text-4-title}} 
                                    <h3 class="title">{{theme_settings.halo_icon_with_text-4-title}}</h3>
                                {{/if}}
                                {{#if theme_settings.halo_icon_with_text-4-text}} 
                                    <span class="desc">{{theme_settings.halo_icon_with_text-4-text}}</span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{{region name="home_below_icon_with_text_block"}}}
{{/if}}
