<div class="previewCart-header">
    <h2 class="title">{{lang 'cart.preview.title'}}</h2>
    <span class="text">
        <span class="countPill cart-quantity" data-cart-quantity="{{cart.quantity}}">{{cart.quantity}}</span>
        <span> {{#if cart.quantity '>=' 2}} items{{else}} item{{/if}}</span>
    </span>
</div>
<div class="previewCart-body">
    <div class="previewCart">
        {{#if cart.items.length}}
            <ul class="previewCartList">
                {{#each cart.items}}
                    <li class="previewCartItem" {{#if options}}data-cart-edit-productItem{{/if}}>
                        <div class="previewCartItem-image">
                            {{#if type '==' 'GiftCertificate'}}
                                <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                            {{else}}
                                {{> components/common/responsive-img
                                    image=image
                                    fallback_size=../../theme_settings.productthumb_size
                                    lazyload=../../theme_settings.lazyload_mode
                                    default_image=../../theme_settings.default_image_product
                                }}
                            {{/if}}
                        </div>

                        <div class="previewCartItem-content">
                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>
                            {{#if options}}
                                <div class="previewCartItem-options"> 
                                    <span class="previewCartItem-variant">
                                        {{#each options}}
                                            <span>{{{ sanitize value}}}</span>
                                        {{/each}}
                                    </span>
                                    {{#if ../../theme_settings.halo_QuickEditCart}}
                                        <a href="#" class="previewCartItem-edit" data-cart-edit-id="{{product_id}}" data-cart-itemid="{{id}}" data-cart-edit-price="{{price.formatted}}" data-cart-edit-quantity="{{quantity}}">
                                            <svg class="icon"><use xlink:href="#icon-edit"></use></svg>
                                        </a>
                                    {{/if}}
                                </div>
                            {{/if}}
                            <span class="previewCartItem-price">
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>
                            <div class="previewCartItem-qty">
                                <label class="form-label" for="qty-{{id}}">{{lang 'products.quantity'}}</label>
                                <div class="form-increment">
                                    <input class="form-input form-input--incrementTotal"
                                        id="qty-{{id}}"
                                        name="qty-{{id}}"
                                        type="number"
                                        value="{{quantity}}"
                                        data-quantity-min="{{min_purchase_quantity}}"
                                        data-quantity-max="{{max_purchase_quantity}}"
                                        data-quantity-min-error="{{lang 'products.quantity_min' quantity=min_purchase_quantity}}"
                                        data-quantity-max-error="{{lang 'products.quantity_max' quantity=max_purchase_quantity}}"
                                        min="1"
                                        pattern="[0-9]*"
                                        data-cart-itemid="{{id}}"
                                        data-action="manualQtyChange"
                                        aria-live="polite"{{#unless can_modify}} disabled{{/unless}}>
                                </div>
                            </div>
                            {{#if can_modify}}
                                <a class="previewCartItem-remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                    <svg><use xlink:href="#icon-close"></use></svg>
                                    <span>{{lang 'cart.checkout.remove'}}</span>
                                </a>
                            {{else}}
                                {{#if type '==' 'GiftCertificate'}}
                                    <a class="previewCartItem-remove" data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}">
                                        <svg><use xlink:href="#icon-close"></use></svg>
                                        <span>{{lang 'cart.checkout.remove'}}</span>
                                    </a>
                                {{/if}}
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
            <ul class="previewCartTotalsPrice">
                <li class="previewCartTotals subTotal">
                    <div class="previewCartTotals-label">
                        {{lang 'cart.checkout.subtotal'}}:
                    </div>
                    <div class="previewCartTotals-value">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                            {{cart.sub_total.formatted}}
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                </li>
                <li class="previewCartTotals grandTotal">
                    <div class="previewCartTotals-label">
                        {{lang 'cart.checkout.grand_total'}}:
                    </div>
                    <div class="previewCartTotals-value cart-total-grandTotal">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                            <span>{{cart.grand_total.formatted}}</span>
                        {{else}}
                            {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                </li>
            </ul>
            <div class="previewCartAction">
                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a href="{{urls.checkout.single_address}}" class="button button--checkout">
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}
                <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                    <a href="{{urls.cart}}" class="button button--primary">
                        {{lang 'cart.preview.view_cart'}}
                    </a>
                </div>
                {{#if cart.show_multiple_address_shipping}}
                    <div class="previewCartAction-checkoutMultiple">
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            {{#if cart.additional_checkout_buttons}}
                <div class="previewCart-additionalCheckoutButtons">
                    {{#each cart.additional_checkout_buttons}}
                        {{{this}}}
                    {{/each}}
                </div>
            {{/if}}
        {{else}}
            <div class="previewCart-emptyBody">
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
</div>
