<nav class="pagination" aria-label="pagination">
  {{#and (if total) (if page_type '==' 'category')}}
      {{#if start}}
          {{#if end}}
              {{#if end '<' total}}
                  <div class="pagination-info">Items <span class="start">{{start}}</span> to <span class="end">{{end}}</span> of <span class="total">{{total}}</span> total</div>
              {{else}}
                  <div class="pagination-info">Items <span class="start">{{start}}</span> to <span class="end">{{total}}</span> of <span class="total">{{total}}</span> total</div>
              {{/if}}
          {{/if}}
      {{/if}}
  {{/and}}
  {{#and (if page_type '==' 'brand') (if links.length)}}
      {{#each shop_by_brand}}
          {{#if name '==' ../brand.name}}
              <div class="pagination-info">Items <span class="start"></span> to <span class="end"></span> of <span class="total">{{count}}</span> total</div>
          {{/if}}
      {{/each}}
  {{/and}}
  {{#if page_type '==' 'search'}}
      <div class="pagination-info">Items <span class="start"></span> to <span class="end"></span> of <span class="total">{{total}}</span> total</div>
  {{/if}}
    <ul class="pagination-list">
        {{#if previous}}
            <li class="pagination-item pagination-item--previous">
                <a class="pagination-link"
                   href="{{previous}}"
                   {{#unless reload}}data-faceted-search-facet{{/unless}}
                   aria-label="{{lang 'common.previous'}}"
                >
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chevron-left"></use>
                    </svg>
                </a>
            </li>
        {{/if}}

        {{#each links}}
            <li class="pagination-item {{#if this.number '==' ../current}}pagination-item--current{{/if}}">
                <a class="pagination-link"
                   href="{{this.url}}"
                   {{#unless reload}}data-faceted-search-facet{{/unless}}
                   {{#if this.number '==' ../current}}aria-current="page"{{/if}}
                   aria-label="{{lang 'common.paginator.page_of' current=this.number total=../links.length}}"
                >
                    {{this.number}}
                </a>
            </li>
        {{/each}}

        {{#if next}}
            <li class="pagination-item pagination-item--next">
                <a class="pagination-link"
                   href="{{next}}"
                   {{#unless reload}}data-faceted-search-facet{{/unless}}
                   aria-label="{{lang 'common.next'}}"
                >
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-chevron-right"></use>
                    </svg>
                </a>
            </li>
        {{/if}}
    </ul>
</nav>
