// =============================================================================
// PRODUCT Sale Badges (CSS)
// =============================================================================

.halo-badges {
    position: absolute;
    top: 0;
    left: 0;
    z-index: zIndex("lower");
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.halo-badges-right{
        left: auto;
        right: 0;
        align-items: flex-end;
    }
}

.halo-badge {
    font-size: $fontSize-root - 2px;
    font-weight: $fontWeight-normal;
    line-height: 20px;
    height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 0 5px 0;
    text-transform: capitalize;

    &.sale-badge {
        background: stencilColor("color_bg_product_sale_badges");
        color: stencilColor("color_text_product_sale_badges");
    }

    &.soldOut-badge {
        background: stencilColor("color_bg_product_soldOut_badges");
        color: stencilColor("color_text_product_soldOut_badges");
    }

    &.new-badge {
        background: stencilColor("color_bg_product_new_badges");
        color: stencilColor("color_text_product_new_badges");
    }

    &.custom-badge {
        background: stencilColor("color_bg_product_custom_badges");
        color: stencilColor("color_text_product_custom_badges");
    }

    &:last-child{
        margin-bottom: 0;
    }

    .home-layout-2 & {
        border-radius: 3px;
    }
}
