// =============================================================================
// PRODUCT GRID (CSS)
// =============================================================================


// Product grid view
// -----------------------------------------------------------------------------
//
// 1. Re-set the font-size, as we're reducing it to 0 in the .products class.
//
// -----------------------------------------------------------------------------

.productGrid {
    display: block;
    font-size: 0;
    letter-spacing: 0;
    margin: 0 -8px;
    list-style: none;
    text-align: left;

    .product{
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding: 0 8px;
        margin: 0 0 25px 0;
        white-space: normal;
    }

    @media (min-width: 551px){
        .product{
            margin-bottom: 16px;
        }
    }

    @media (min-width: 768px){
        .product{
            width: 33.3333333%;
        }
    }

    @media (min-width: 1025px){
        margin-left: -15px;
        margin-right: -15px;

        .product{
            padding-left: 15px;
            padding-right: 15px;
            margin-top: 30px;
            margin-bottom: 0;

            &:nth-child(-n+3){
                margin-top: 0;
            }
        }

        &.col-4{
            .product{
                width: 25%!important;

                &:nth-child(-n+4){
                    margin-top: 0;
                }
            }
        }

        &.col-5{
            .product{
                width: 25%!important;

                &:nth-child(-n+4){
                    margin-top: 0;
                }
            }
        }
    }

    @media (min-width: 1280px){
        &.col-5{
            .product{
                width: 20%!important;

                &:nth-child(-n+5){
                    margin-top: 0;
                }
            }
        }
    }
}
