// =============================================================================
// CATEGORY (CSS)
// =============================================================================

.category-header-image{
    position: relative;
    display: block;
	width: 100%;
    min-height: 250px;

    img{
        position: absolute;
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: 1025px){
        min-height: unset;

        img{
            position: relative;
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

.category-header-content{
	position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);

    .title{
    	font-size: $h2-font-size - 1px;
    	font-weight: $fontWeight-normal;
    	color: $color-white;
    	line-height: 1;
    }

    .desc{
    	font-style: italic;
    	color: $color-white;
    	padding: 2px 0 0 0;
    }

    @media (min-width: 1025px){
    	.title{
    		font-size: 40px;
    	}

    	.desc{
    		width: 100%;
    		max-width: 465px;
    	}
    }
}

.compare-link{
    pointer-events: none;
    display: none;

    .button{
        background: #ffffff;
        overflow: unset;
        border-color: #c5c5cf;
        box-shadow: 0 0 10px rgba(0, 0, 10, 0.05);

        .countPill{
            right: -9px;

            .home-layout-2 & {
                color: #ffffff;
            }
        }
    }

    @media (min-width: 1025px){
        display: block;
        position: fixed;
        top: auto;
        bottom: 130px;
        right: 45px;
        z-index: 100;
        pointer-events: auto;
        transform: translateY(-50%);

        .button{
            display: none;

            &.show{
                display: block;
            }
        }
    }
}
