{{#each categories}}
    {{#if id '==' ../cateid}}
		<div class="halo-block halo-block-product halo-block-product2 padding-top-30 padding-bottom-30" data-category-id="{{id}}" data-category-url="{{url}}" id="product-by-cate-{{id}}">
			<div class="loadingOverlay"></div>
			<div class="container">
				<div class="halo-block-header">
		            <h2 class="title">{{name}}</h2>
		        </div>
		        <div class="productCarousel"></div>
			</div>
		</div>
	{{/if}}
	{{#each children}}
		{{#if id '==' ../../cateid}}
			<div class="halo-block halo-block-product halo-block-product2 padding-top-30 padding-bottom-30" data-category-id="{{id}}" data-category-url="{{url}}" id="product-by-cate-{{id}}">
				<div class="loadingOverlay"></div>
				<div class="container">
					<div class="halo-block-header">
			            <h2 class="title">{{name}}</h2>
			        </div>
			        <div class="productCarousel"></div>
				</div>
			</div>
		{{/if}}
		{{#each children}}
			{{#if id '==' ../../../cateid}}
				<div class="halo-block halo-block-product halo-block-product2 padding-top-30 padding-bottom-30" data-category-id="{{id}}" data-category-url="{{url}}" id="product-by-cate-{{id}}">
					<div class="loadingOverlay"></div>
					<div class="container">
						<div class="halo-block-header">
				            <h2 class="title">{{name}}</h2>
				        </div>
				        <div class="productCarousel"></div>
					</div>
				</div>
			{{/if}}
		{{/each}}
	{{/each}}
{{/each}}
{{{region name="home_below_products_by_category"}}}
