{{#if position '==' 'top'}}
    {{#if banners.top}}
        {{#each banners.top_metadata}}
            {{#unless (occurrences this.content 'halo_top2_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_top_brands') '>' 0}}
            {{#unless (occurrences this.content 'halo_top_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_middle_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_middle_parralax_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_parralax_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_bottom_banners') '>' 0}}
            {{#unless (occurrences this.content 'home2_bottom_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_short_faqs') '>' 0}}
            {{#unless (occurrences this.content 'halo_instagram') '>' 0}}
                <div class="banners" data-banner-location="top">
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                </div>
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
        {{/each}}
    {{/if}}
{{else if position '==' 'bottom'}}
    {{#if banners.bottom}}
        {{#each banners.bottom_metadata}}
            {{#unless (occurrences this.content 'halo_top2_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_top_brands') '>' 0}}
            {{#unless (occurrences this.content 'halo_top_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_middle_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_middle_parralax_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_parralax_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_bottom_banners') '>' 0}}
            {{#unless (occurrences this.content 'home2_bottom_banners') '>' 0}}
            {{#unless (occurrences this.content 'halo_short_faqs') '>' 0}}
            {{#unless (occurrences this.content 'halo_instagram') '>' 0}}
                <div class="banners" data-banner-location="bottom">
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                </div>
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
            {{/unless}}
        {{/each}}
    {{/if}}
{{/if}}
