{{#each product.custom_fields}}
    {{#startsWith '__bundle' name}}
		<div class="halo-block halo-bundle-products halo-block-disable{{#or ../../customer (if ../../theme_settings.restrict_to_login '!==' true)}}{{else}} halo-bundle-login{{/or}}" id="halo-bundle-products" data-currency-symbol="{{../../currency_selector.active_currency_code}}">
			<div class="loadingOverlay"></div>
			<div class="container">
				<div class="halo-block-header">
			        <h2 class="title">{{../../theme_settings.halo-bundle-product-title}}</h2>
			        {{#if ../../theme_settings.halo-bundle-product-desc}}
			        	<span class="desc">{{../../../theme_settings.halo-bundle-product-desc}}</span>
			        {{/if}}
			    </div>
			    <div class="bundle-products-wrapper">
			    	<div class="bundle-product-left">
			    		<div class="halo-product-list">
					        <div class="halo-product-item halo-product-itemFirst {{#if ../../product.can_purchase}}isChecked{{/if}}" data-product-id="{{../../product.id}}">
					        	<div class="halo-product-image">
					        		<i class="icon-plus"></i>
				                    <a class="halo-product-link" href="{{../../product.url}}">
				                    	<div class="halo-product-container">
					                        {{> components/common/responsive-img
						                        image=../../product.main_image
						                        class=""
						                        fallback_size=../../theme_settings.productgallery_size
						                        lazyload=../../theme_settings.lazyload_mode
						                        default_image=../../theme_settings.default_image_product
						                    }}
				                    	</div>
				                    </a>
				                </div>
				                <div class="halo-product-content">
						            <form method="post" action="/cart.php" enctype="multipart/form-data">
						                <input type="hidden" name="action" value="add">
						                <input type="hidden" name="product_id" value="{{../../product.id}}">
						                <input type="hidden" name="qty[]" value="1">
						                <div class="halo-detail-field">
						                    <input class="halo-detail-checkbox form-checkbox" type="checkbox" id="fbt_product{{../../product.id}}" checked disabled>
						                    <label class="halo-detail-label form-label" for="fbt_product{{../../product.id}}">
						                        <span class="halo-detail-name" style="-webkit-box-orient: vertical;">
						                        	<span class="subtitle">{{lang 'products.bundle_this_item'}}</span><span class="text">{{../../product.title}}</span>
						                        </span>
						                        <span class="halo-detai-price"
						                        	{{#if ../../product.price.with_tax}}
						                        		data-price-value="{{../../../product.price.with_tax.value}}"
						                        	{{/if}}
						                        	{{#if ../../product.price.without_tax}}
						                        		data-price-value="{{../../../product.price.without_tax.value}}"
						                        	{{/if}}
						                        >
						                        	{{#or ../../customer (if ../../theme_settings.restrict_to_login '!==' true)}}
						                        		{{> components/products/price price=../../../product.price}}
						                        	{{else}}
						                        		{{> components/common/login-for-pricing}}
						                        	{{/or}}
						                        </span>
						                    </label>
						                </div>
						                {{#if ../../product.options}}
							                <a class="halo-toggle-options" href="#">
							                	<span>{{lang 'products.choose_options'}}</span>
							                </a>
							                <div class="halo-detail-options" data-fbt-option-change>
							                	<a href="#" class="halo-option-close" aria-label="Close" role="button">
									                <svg class="icon"><use xlink:href="#icon-close"></use></svg>
									            </a>
							                    {{#each ../../../product.options}}
							                        {{{dynamicComponent 'components/halothemes/options'}}}
							                    {{/each}}
							                    <div class="productAttributes-message">
													<p class="alertBox-message"></p>
							                    </div>
							                    {{#if ../../../theme_settings.halo_stock_level}}
									                <div class="productView-optionsStock u-hiddenVisually">
									                    <span>{{lang 'products.stock_hurry_up'}}</span>
									                    <span data-stock-left></span>
									                    <span>{{lang 'products.stock_left'}}</span>
									                </div>
									            {{/if}}
							                </div>
						                {{/if}}
						            </form>
				                </div>
					        </div>
					    </div>
			    	</div>
			    	<div class="bundle-product-right"></div>
			    </div>
			</div>
		</div>
    {{/startsWith}}
{{/each}}
{{inject 'productCustomFields' product.custom_fields}}
