<div class="productView halo-productView">
    <div class="halo-productView-left productView-images zoom-image" data-image-gallery>
        <div class="productView-image-wrapper">
            {{#if theme_settings.halo-label-product}}
                <div class="halo-badges">
                    {{#each productsnew}}
                        {{#if id '==' ../product.id}}
                            <div class="new-badge halo-badge">
                                <span class="text">{{lang 'products.new_label'}}</span>
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#each product.custom_fields}}
                        {{#if name '===' '__customlabel'}}
                            <div class="custom-badge halo-badge">
                                <span class="text">{{{value}}}</span>
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#unless product.can_purchase}}
                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                <div class="soldOut-badge halo-badge">
                                    <span class="text">{{lang 'products.sold_out_label'}}</span>
                                </div>
                            {{else}}
                                <div class="soldOut-badge halo-badge">
                                    <span class="text">{{lang 'products.sold_out_label'}}</span>
                                </div>
                            {{/if}}
                        {{/if}}
                    {{/unless}}
                </div>
            {{/if}}
            <div class="productView-nav"
                data-slick='{
                    "fade": false,
                    "arrows": false,
                    "dots": false,
                    "infinite": false,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "asNavFor": ".halo-spacial-product .halo-productView-left .productView-for"
                }'>
                {{#each product.images}}
                    <div>
                        <figure class="productView-image" data-fancybox="images" href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}" 
                            data-image-gallery-main
                            data-zoom-image="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}">
                            <div class="productView-img-container">
                                <a href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}">
                                    {{> components/common/responsive-img
                                        image=this
                                        class="productView-image--default"
                                        fallback_size=../theme_settings.product_size
                                        lazyload="disabled"
                                        default_image=../theme_settings.default_image_product
                                        otherAttributes="data-main-image"
                                    }}
                                </a>
                            </div>
                        </figure>
                    </div>
                {{/each}}
                {{#if product.videos.list.length}}
                    {{#each product.videos.list}}
                        <div>
                            <figure class="productView-image">
                                <div class="productView-img-container">
                                    <a href="//www.youtube.com/embed/{{id}}">
                                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="//i.ytimg.com/vi/{{id}}/hqdefault.jpg"/ data-sizes="auto">
                                    </a>
                                    <div class="productView-video">
                                        <div data-youtube="{{id}}"></div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
        <div class="productView-thumbnail-wrapper">
            <div class="productView-for" data-slick='{
                "arrows": true,
                "dots": false,
                "infinite": false,
                "focusOnSelect": true,
                "slidesToShow": 5,
                "slidesToScroll": 1,
                "vertical": true,
                "verticalSwiping": true,
                "asNavFor": ".halo-spacial-product .halo-productView-left .productView-nav",
                "nextArrow": "<svg class=&apos;slick-next slick-arrow&apos; aria-label=&apos;Next Slide&apos;><use xlink:href=&apos;#slick-arrow-next&apos;></use></svg>", 
                "prevArrow": "<svg class=&apos;slick-prev slick-arrow&apos; aria-label=&apos;Previous Slide&apos;><use xlink:href=&apos;#slick-arrow-prev&apos;></use></svg>",
                "responsive": [
                    {
                        "breakpoint": 1281,
                        "settings": {
                            "slidesToShow": 4,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 992,
                        "settings": {
                            "vertical": false,
                            "verticalSwiping": false,
                            "slidesToShow": 5,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 415,
                        "settings": {
                            "vertical": false,
                            "verticalSwiping": false,
                            "slidesToShow": 4,
                            "slidesToScroll": 1
                        }
                    },
                    {
                        "breakpoint": 321,
                        "settings": {
                            "vertical": false,
                            "verticalSwiping": false,
                            "slidesToShow": 3,
                            "slidesToScroll": 1
                        }
                    }
                ]
            }'>
                {{#each product.images}}
                    <div>
                        <div class="productView-thumbnail">
                            <a
                                class="productView-thumbnail-link"
                                href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                                data-image-gallery-item
                                data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                                data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                                data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                            >
                            {{> components/common/responsive-img
                                image=this
                                fallback_size=../theme_settings.productview_thumb_size
                                lazyload=../theme_settings.lazyload_mode
                            }}
                            </a>
                        </div>
                    </div>
                {{/each}}
                {{#if product.videos.list.length}}
                    {{#each product.videos.list}}
                        <div>
                            <div class="productView-thumbnail">
                                <a
                                    class="productView-thumbnail-link productView-thumbnail-linkVideo"
                                    href="//www.youtube.com/embed/{{id}}"
                                    data-image-gallery-item
                                >
                                    <span class="videoText">
                                        <svg class="icon"><use xlink:href="#icon-video-product"></use></svg>
                                        <span class="text">{{lang 'products.video'}}</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div class="halo-productView-right">
        <div class="productView-details">
            <div class="productView-product">
                {{#if product.brand}}
                    <h2 class="productView-brand">
                        <a href="{{product.brand.url}}">{{product.brand.name}}</span></a>
                    </h2>
                {{/if}}
                <h1 class="productView-title">
                    <a href="{{product.url}}">{{product.title}}</a>
                </h1>
                <div class="productView-topInfo">
                    <div class="productView-rating">
                        {{#if settings.show_product_rating}}
                            {{> components/products/ratings rating=product.rating}}
                            <span class="productView-reviewLink review-link">
                                {{#if product.num_reviews '>' 0}}
                                    <a href="{{product.url}}#tab-reviews">
                                        {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                    </a>
                                {{else}}
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                {{/if}}
                            </span>
                        {{/if}}
                        {{#if theme_settings.product_soldProduct}}
                            <div class="productView-soldProduct"></div>
                        {{/if}}
                    </div>
                </div>

                {{> components/halothemes/products/halo-product-countdown custom_fields=product.custom_fields id=product.id}}

                <div class="productView-price">
                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=product.price}}
                    {{else}}
                        {{> components/common/login-for-pricing}}
                    {{/or}}
                    {{#if product.call_for_price}}
                        <p><span>{{product.call_for_price}}</span></p>
                    {{/if}}
                </div>

                {{#if product.detail_messages}}
                    <div class="productView-messages">
                        {{product.detail_messages}}
                    </div>
                {{/if}}
            </div>

            <div class="productView-options">
                {{#if product.release_date }}
                    <p class="productView-releaseDate">{{product.release_date}}</p>
                {{/if}}

                <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
                    <input type="hidden" name="action" value="add">
                    <input type="hidden" name="product_id" value="{{product.id}}"/>

                    {{#if product.options}}
                        <div class="productView-optionsLabel">{{lang 'products.choose_options'}}:</div>
                    {{/if}}

                    <div data-product-option-change style="display:none;">
                        {{#each product.options}}
                            {{{dynamicComponent 'components/halothemes/options'}}}
                        {{/each}}
                    </div>

                    {{#if theme_settings.halo_stock_level}}
                        <div class="productView-optionsStock u-hiddenVisually">
                            <span>{{lang 'products.stock_hurry_up'}}</span><span data-stock-left></span><span>{{lang 'products.stock_left'}}</span>
                        </div>
                    {{/if}}

                    {{#unless theme_settings.halo_stock_level}}
                        <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                            <label class="form-label form-label--alternate">
                                {{lang 'products.current_stock'}}
                                <span data-product-stock>{{product.stock_level}}</span>
                            </label>
                        </div>
                    {{/unless}}

                    {{#if product.options}}
                        {{> components/products/add-to-cart}}
                    {{else}}
                        {{#if product.can_purchase}}
                            {{> components/products/add-to-cart}}
                        {{/if}}
                        {{#if product.out_of_stock}}
                            <div class="productView-actions">
                                {{#if product.out_of_stock_message}}
                                    <div class="form-action form-action2">
                                        <span class="form-action-text">
                                            <svg class="icon"><use xlink:href="#icon-info2"></use></svg>
                                            <span class="text">{{product.out_of_stock_message}}</span>
                                        </span>
                                    </div>
                                {{else}}
                                    <div class="form-action form-action2">
                                        <span class="form-action-text">
                                            <svg class="icon"><use xlink:href="#icon-info2"></use></svg>
                                            <span class="text">{{lang products.sold_out}}</span>
                                        </span>
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                    {{/if}}
                </form>

                {{#if settings.show_wishlist}}
                    {{> components/common/wishlist-dropdown}}
                {{/if}}
            </div>

            {{> components/halothemes/products/halo-notify-me-out-of-stock}}

            {{#if theme_settings.product_viewingProduct}}
                <div class="productView-ViewingProduct u-hiddenVisually">
                    <svg class="icon"><use xlink:href="#icon-eye"></use></svg>5 customers are viewing this product
                </div>
            {{/if}}

            {{#if theme_settings.product_share_button}}
                <div class="productView-share">
                    <div class="productView-shareLabel"><span>{{lang 'common.share'}}:</span></div>
                    {{> components/common/share}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
