<div class="productView-sizeChart">
	<a class="productView-sizeChartlink" href="#" data-reveal-id="modal-size-chart-form">
		<svg class="icon"><use xlink:href="#icon-ruler"></use></svg>
		<span class="text">{{lang 'products.size_chart'}}</span>
	</a>
	<div id="modal-size-chart-form" class="modal productView-sizeChartform" data-reveal>
	    <div class="modal-header">
	        <h2 class="modal-header-title">{{lang 'products.size_chart'}}</h2>
	        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
	            <svg class="icon"><use xlink:href="#icon-close"></use></svg>
	        </a>
	    </div>
	    <div class="modal-body">
	    	<div class="productView-sizeChartimg">
	        	<img src="https://cdn11.bigcommerce.com/s-{{settings.store_hash}}/product_images/uploaded_images/{{value}}" alt="{{lang 'products.size_chart'}}" title="{{lang 'products.size_chart'}}">
	    	</div>
	    </div>
	</div>
</div>
