{{#if theme_settings.halo-product-countdown-show}}
	{{#if theme_settings.halo-product-countdown '==' 'same'}}
		<div class="productView-countDown countdown_{{id}}" data-countdown-id="{{id}}" data-countdown="{{theme_settings.halo-product-countdown-time}}"></div>
	{{else}}
		{{#each custom_fields}}
		    {{#if name '==' '__countdown'}}
		        <div class="productView-countDown countdown_{{../../id}}" data-countdown-id="{{../../id}}" data-countdown="{{{value}}}"></div>
		    {{/if}}
		{{/each}}
	{{/if}}
{{/if}}
