---
blog:
    posts:
        limit: {{theme_settings.blog_posts_count_per_page}}
        pages: 3
        summary: 450
products:
    featured:
        limit: {{theme_settings.sidebar_products_per_page}}
    new:
        limit: 25
    top_sellers:
        limit: {{theme_settings.sidebar_products_per_page}}
---
{{#partial "page"}}
<div class="container container-custom">
    <div class="breadcrumb-wrapper">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    <div class="page page-blog">
        <div class="page-header">
            <h1 class="page-heading">{{ blog.name }}</h1>
        </div>

        {{#if theme_settings.halo-blog-sidebar}}
            <div class="page-sidebar">
                <div class="page-sidebar-close">
                    <a href="#" class="close">
                        <span class="icon">×</span>
                        <span class="text">{{lang 'common.close'}}</span>
                    </a>
                </div>
                {{> components/blog/sidebar post=blog.posts}}
            </div>
        {{/if}}
        <div class="page-content">
            {{#if theme_settings.halo-blog-sidebar}}
                <div class="page-sidebar-mobile-wrapper">
                    <div class="page-sidebar-mobile">
                        <span class="text">{{lang 'common.sidebar'}}</span>
                        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sidebar"></use></svg>
                    </div>
                </div>
            {{/if}}
            <div class="halo-blog">
                {{#each blog.posts}}
                    <div class="halo-blog-item">
                        {{> components/blog/post post=this class="blog" settings=../settings theme_settings=../theme_settings}}
                    </div>
                {{/each}}
            </div>
            {{> components/common/paginator pagination.blog}}
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
