---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
products:
    featured:
        limit: {{theme_settings.sidebar_products_per_page}}
    new:
        limit: 25
    top_sellers:
        limit: {{theme_settings.sidebar_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{#if banners.top}}
    <div class="page-listing-header">
        {{{limit banners.top 1}}}
    </div>
{{/if}}

{{{region name="category_top_banner"}}}
{{{region name="category_top_banner--global"}}}

<div class="container">
    <div class="breadcrumb-wrapper">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    <div class="page page-category page-listing">
        <div class="page-header">
            <h1 class="page-heading">{{category.name}}</h1>
            {{#if category.description}}
                <div class="page-description">
                    {{{category.description}}}
                </div>
            {{/if}}
            {{{region name="category_below_header"}}}
        </div>

        {{#if theme_settings.halo-category-sidebar}}
            <aside class="page-sidebar" id="faceted-search-container">
                <div class="page-sidebar-close">
                    <a href="#" class="close">
                        <span class="icon">×</span>
                        <span class="text">{{lang 'common.close'}}</span>
                    </a>
                </div>
                {{> components/category/sidebar}}
            </aside>
        {{/if}}

        <main class="page-content" id="product-listing-container">
            <div class="halo-toolbar">
                {{#if theme_settings.halo-category-sidebar}}
                    <div class="page-sidebar-mobile-wrapper">
                        <div class="page-sidebar-mobile">
                            <span class="text">{{lang 'common.sidebar'}}</span>
                            <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sidebar"></use></svg>
                        </div>
                    </div>
                {{/if}}
                {{#if category.products}}
                    {{> components/halothemes/gallery/halo-toolbar sort=pagination.category.sort}}
                {{/if}}
            </div>
            {{#if category.products}}
                {{> components/category/product-listing productsnew=products.new show_compare=category.show_compare}}
            {{else}}
                <p class="page-no-products">{{lang 'categories.no_products'}}</p>
            {{/if}}
            {{{region name="category_below_content"}}}
        </main>
    </div>
</div>

<div class="page-listing-footer">
    {{{region name="category_bottom_banner"}}}
    {{{region name="category_bottom_banner--global"}}}
</div>

{{#if banners.bottom}}
    <div class="page-listing-footer">
        {{{limit banners.bottom 1}}}
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
