---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
        summary: 160
---
{{#partial "hero"}}
    {{#if carousel}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows}}
    {{/if}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert-info message}}
    {{/each}}
    <div class="main full">
        {{#if theme_settings.halo_homepage_layout_1}}
            {{> components/halothemes/home/home-icon-with-text}}

            {{{region name="home_top_brands"}}}

            {{{region name="home_top_banners"}}}

            {{{region name="home2_top_banners"}}}

            {{#if theme_settings.home_product_block_tab '==' 'Featured'}}
                {{> components/halothemes/halo-product-tab-by-category data-sort-tab="?sort=featured" productsnew=products.new title=theme_settings.home_product_block_tab-title}}
            {{else if theme_settings.home_product_block_tab '==' 'New'}}
                {{> components/halothemes/halo-product-tab-by-category data-sort-tab="?sort=newest" productsnew=products.new title=theme_settings.home_product_block_tab-title}}
            {{else if theme_settings.home_product_block_tab '==' 'Top'}}
                {{> components/halothemes/halo-product-tab-by-category data-sort-tab="?sort=bestselling" productsnew=products.new title=theme_settings.home_product_block_tab-title}}
            {{/if}}

            {{> components/halothemes/home/halo-special-product title=theme_settings.home_product_block_special-title desc=theme_settings.home_product_block_special-text id=theme_settings.home_product_block_special-id}}

            {{{region name="home_middle_banners"}}}

            {{#if theme_settings.home_product_block '==' 'Featured'}}
                {{> components/products/featured products=products.featured productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1"}}
            {{else if theme_settings.home_product_block '==' 'New'}}
                {{> components/products/new products=products.new productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1"}}
            {{else if theme_settings.home_product_block '==' 'Top'}}
                {{> components/products/top products=products.top_sellers productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1"}}
            {{else if theme_settings.home_product_block '==' 'Special'}}
                {{> components/halothemes/halo-product-by-category cateid=theme_settings.home_product_block_id productsnew=products.new}}
            {{/if}}

            {{{region name="home_middle_banners_2"}}}

            {{> components/halothemes/home/home-icon-with-text2}}

            {{{region name="home_parallax_banners"}}}

            {{> components/halothemes/halo-product-by-category-with-flash-deals 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_flash_deals_id 
                cateImg=theme_settings.home_product_block_with_flash_deals_img 
                cateImg2=theme_settings.home_product_block_with_flash_deals_img2 
                cateTitle=theme_settings.home_product_block_with_flash_deals_title 
                cateLink=theme_settings.home_product_block_with_flash_deals_link 
                cateLink2=theme_settings.home_product_block_with_flash_deals_link2 
                coutDown=theme_settings.home_product_block_with_flash_deals_count_down
            }}

            {{> components/halothemes/halo-product-by-category-with-banner 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_1_id 
                cateImg=theme_settings.home_product_block_with_banner-1-img 
                cateTitle=theme_settings.home_product_block_with_banner-1-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-1-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-1-heading 
                cateText1=theme_settings.home_product_block_with_banner-1-text1 
                cateText2=theme_settings.home_product_block_with_banner-1-text2 
                cateBtn=theme_settings.home_product_block_with_banner-1-btntext 
                cateLink=theme_settings.home_product_block_with_banner-1-link
            }}

            {{> components/halothemes/halo-product-by-category-with-banner 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_2_id 
                cateImg=theme_settings.home_product_block_with_banner-2-img 
                cateTitle=theme_settings.home_product_block_with_banner-2-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-2-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-2-heading 
                cateText1=theme_settings.home_product_block_with_banner-2-text1 
                cateText2=theme_settings.home_product_block_with_banner-2-text2 
                cateBtn=theme_settings.home_product_block_with_banner-2-btntext 
                cateLink=theme_settings.home_product_block_with_banner-2-link
            }}

            {{> components/halothemes/halo-product-by-category-with-banner 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_3_id 
                cateImg=theme_settings.home_product_block_with_banner-3-img 
                cateTitle=theme_settings.home_product_block_with_banner-3-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-3-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-3-heading 
                cateText1=theme_settings.home_product_block_with_banner-3-text1 
                cateText2=theme_settings.home_product_block_with_banner-3-text2 
                cateBtn=theme_settings.home_product_block_with_banner-3-btntext 
                cateLink=theme_settings.home_product_block_with_banner-3-link
            }}

            {{{region name="home_bottom_banners"}}}

            {{{region name="home_faqs_block"}}}

            {{{region name="home2_bottom_banners"}}}

            {{> components/halothemes/home/home-recent-posts post=blog.recent_posts}}

            {{{region name="home_instagram"}}}
        {{else}}
            {{{region name="home_top_banners"}}}

            {{{region name="home2_top_banners"}}}

            {{{region name="home_top_brands"}}}

            {{> components/halothemes/halo-product-by-category-with-flash-deals 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_flash_deals_id 
                cateImg=theme_settings.home_product_block_with_flash_deals_img 
                cateImg2=theme_settings.home_product_block_with_flash_deals_img2 
                cateTitle=theme_settings.home_product_block_with_flash_deals_title 
                cateLink=theme_settings.home_product_block_with_flash_deals_link 
                cateLink2=theme_settings.home_product_block_with_flash_deals_link2 
                coutDown=theme_settings.home_product_block_with_flash_deals_count_down
            }}

            {{> components/halothemes/halo-product-by-category-with-banner-2 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_1_id 
                cateImg=theme_settings.home_product_block_with_banner-1-img 
                cateTitle=theme_settings.home_product_block_with_banner-1-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-1-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-1-heading 
                cateText1=theme_settings.home_product_block_with_banner-1-text1 
                cateText2=theme_settings.home_product_block_with_banner-1-text2 
                cateBtn=theme_settings.home_product_block_with_banner-1-btntext 
                cateLink=theme_settings.home_product_block_with_banner-1-link
            }}

            {{> components/halothemes/halo-product-by-category-with-banner-2 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_2_id 
                cateImg=theme_settings.home_product_block_with_banner-2-img 
                cateTitle=theme_settings.home_product_block_with_banner-2-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-2-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-2-heading 
                cateText1=theme_settings.home_product_block_with_banner-2-text1 
                cateText2=theme_settings.home_product_block_with_banner-2-text2 
                cateBtn=theme_settings.home_product_block_with_banner-2-btntext 
                cateLink=theme_settings.home_product_block_with_banner-2-link
            }}

            {{> components/halothemes/halo-product-by-category-with-banner-2 
                productsnew=products.new 
                cateId=theme_settings.home_product_block_with_banner_3_id 
                cateImg=theme_settings.home_product_block_with_banner-3-img 
                cateTitle=theme_settings.home_product_block_with_banner-3-title 
                cateSubHeading=theme_settings.home_product_block_with_banner-3-subheading 
                cateHeading=theme_settings.home_product_block_with_banner-3-heading 
                cateText1=theme_settings.home_product_block_with_banner-3-text1 
                cateText2=theme_settings.home_product_block_with_banner-3-text2 
                cateBtn=theme_settings.home_product_block_with_banner-3-btntext 
                cateLink=theme_settings.home_product_block_with_banner-3-link
            }}

            {{{region name="home_middle_banners"}}}

            {{> components/halothemes/home/home-icon-with-text2}}

            {{{region name="home_parallax_banners"}}}

            {{#if theme_settings.home_product_block '==' 'Featured'}}
                {{> components/halothemes/home2-product-grid products=products.featured productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1" productType="featured" listName="Featured Products" columns=theme_settings.homepage_featured_products_column_count}}
            {{else if theme_settings.home_product_block '==' 'New'}}
                {{> components/halothemes/home2-product-grid products=products.new productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1" productType="newest" listName="New Products" columns=theme_settings.homepage_new_products_column_count}}
            {{else if theme_settings.home_product_block '==' 'Top'}}
                {{> components/halothemes/home2-product-grid products=products.top_sellers productsnew=products.new title=theme_settings.home_product_block-title block_id="halo-product-block-1" productType="top_sellers" listName="Most Popular Products" columns=theme_settings.homepage_top_products_column_count}}
            {{else if theme_settings.home_product_block '==' 'Special'}}
                {{> components/halothemes/halo-product-by-category cateid=theme_settings.home_product_block_id productsnew=products.new}}
            {{/if}}

            {{{region name="home_bottom_banners"}}}

            {{{region name="home_faqs_block"}}}

            {{{region name="home2_bottom_banners"}}}

            {{> components/halothemes/home/home-recent-posts post=blog.recent_posts}}

            {{{region name="home_instagram"}}}

            {{> components/halothemes/home/home-icon-with-text}}
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
