---
product_results:
    limit: {{theme_settings.categorypage_products_per_page}}
products:
    featured:
        limit: {{theme_settings.sidebar_products_per_page}}
    new:
        limit: 25
    top_sellers:
        limit: {{theme_settings.sidebar_products_per_page}}
---
{{inject 'categoryTree' forms.search.category_options}}
{{inject 'searchProductsPerPage' theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.product_results.previous}}
        <link rel="prev" href="{{pagination.product_results.previous}}">
    {{/if}}
    {{#if pagination.product_results.next}}
        <link rel="next" href="{{pagination.product_results.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{#if banners.top}}
    <div class="page-listing-header">
        {{{limit banners.top 1}}}
    </div>
{{/if}}

<div class="container">
    <div class="breadcrumb-wrapper">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    </div>

    <div class="page page-search page-listing">
        <div class="page-header">
            {{#if forms.search.query}}
                {{> components/search/heading}}
            {{/if}}
            {{{region name="search_below_header"}}}
        </div>

        <section class="nav">
            <nav class="navBar navBar--sub">
                <ul class="navBar-section account-navigation">
                    <li class="navBar-item">
                        <a id="search-results-product-count" class="navBar-action" href="{{forms.search.product_url}}" data-product-results-toggle>
                            {{> components/search/product-count}}
                        </a>
                    </li>
                    <li class="navBar-item">
                        <a id="search-results-content-count" class="navBar-action" href="{{forms.search.content_url}}" data-content-results-toggle>
                            {{> components/search/content-count}}
                        </a>
                    </li>
                </ul>
            </nav>
        </section>

        {{#if theme_settings.halo-search-sidebar}}
            <aside class="page-sidebar{{#if forms.search.section '!=' 'product'}} u-hiddenVisually{{/if}}" id="faceted-search-container">
                <div class="page-sidebar-close">
                    <a href="#" class="close">
                        <span class="icon">×</span>
                        <span class="text">{{lang 'common.close'}}</span>
                    </a>
                </div>
                {{> components/search/sidebar}}
            </aside>
        {{/if}}

        <main class="page-content">
            {{#if forms.search.has_suggestions}}
                <div class="panel panel--large">
                    <div class="panel-body">
                        {{#if forms.search.suggested_query}}
                            <div class="search-suggestion">
                                {{lang 'forms.search.did_you_mean'}} <strong>{{forms.search.suggested_query.query}}</strong>
                                <a href="{{forms.search.suggested_query.url}}" class="search-refine"><span>{{lang 'forms.search.refine'}}</span></a>
                            </div>

                            {{#if result_count '===' 0}}
                                <div class="search-suggestion">
                                    <p>
                                        {{lang 'forms.search.your_search_for'}}
                                        "<strong>{{{sanitize forms.search.query}}}</strong>"
                                        {{lang 'forms.search.no_match'}}
                                    </p>
                                </div>
                            {{/if}}
                        {{/if}}

                        {{#if category_results.length}}
                            <div class="search-suggestion">
                                <h5 class="suggestion-title">{{lang 'forms.search.categories'}}</h5>
                                <ul class="category-suggestion-list">

                                    {{#each category_results}}
                                    <li class="category-suggestion">

                                        {{#each this}}
                                            <a href="{{url}}">{{name}}</a>
                                            {{#unless @last}} > {{/unless}}
                                        {{/each}}

                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                        {{/if}}

                        {{#if brand_results.length}}
                            <div class="search-suggestion">
                                <h5 class="suggestion-title">{{lang 'forms.search.brand'}}</h5>
                                {{#each brand_results}}
                                    <a href="{{url}}">{{name}}</a>
                                    {{#unless @last}}, {{/unless}}
                                {{/each}}
                            </div>
                        {{/if}}

                        {{#if result_count '===' 0}}
                            <div class="search-suggestion">
                                <h5 class="suggestion-title">{{lang 'forms.search.suggestions.title'}}</h5>
                                <ul>
                                    <li>{{lang 'forms.search.suggestions.line1'}}</li>
                                    <li>{{lang 'forms.search.suggestions.line2'}}</li>
                                    <li>{{lang 'forms.search.suggestions.line3'}}</li>
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>
            {{/if}}

            <div id="search-results-content" {{#if forms.search.section '!=' 'content'}}class="u-hiddenVisually"{{/if}}>
                {{> components/search/content-listing}}
            </div>

            <div id="product-listing-container" {{#if forms.search.section '!=' 'product'}}class="u-hiddenVisually"{{/if}}>
                <div class="halo-toolbar">
                    {{#if theme_settings.halo-search-sidebar}}
                        <div class="page-sidebar-mobile-wrapper">
                            <div class="page-sidebar-mobile">
                                <span class="text">{{lang 'common.sidebar'}}</span>
                                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sidebar"></use></svg>
                            </div>
                        </div>
                    {{/if}}
                    {{#if product_results.products.length}}
                        {{> components/halothemes/gallery/halo-toolbar sort=pagination.product_results.sort}}
                    {{/if}}
                </div>
                {{#if product_results.products}}
                    {{> components/search/product-listing productsnew=products.new show_compare=product_results.show_compare}}
                {{else}}
                    <p class="page-no-products">{{lang 'search_results.no_products'}} "{{sanitize forms.search.query}}"</p>
                {{/if}}
            </div>

            {{{region name="search_below_content"}}}
        </main>
    </div>
</div>

{{#if banners.bottom}}
    <div class="page-listing-footer">
        {{{limit banners.bottom 1}}}
    </div>
{{/if}}
{{/partial}}
{{> layout/base}}
