<nav role="navigation" aria-label="Left Sidebar">
    {{#if brand.faceted_search_enabled}}
        {{> components/faceted-search/index brand}}
    {{else}}
        {{> components/halothemes/sidebar/all-categories}}
        {{#if shop_by_brand}}
            {{> components/halothemes/sidebar/shop-by-brand}}
        {{/if}}
        {{#if theme_settings.halo-sidebar-products '==' 'Featured'}}
            {{> components/halothemes/sidebar/product-sidebar products=products.featured title=theme_settings.halo-sidebar-products-title}}
        {{else if theme_settings.halo-sidebar-products '==' 'New'}}
            {{> components/halothemes/sidebar/product-sidebar products=products.new title=theme_settings.halo-sidebar-products-title}}
        {{else if theme_settings.halo-sidebar-products '==' 'Top'}}
            {{> components/halothemes/sidebar/product-sidebar products=products.top_sellers title=theme_settings.halo-sidebar-products-title}}
        {{/if}}
        {{> components/halothemes/sidebar/advertisement-image}}
        {{> components/halothemes/sidebar/advertisement-content}}
    {{/if}}
</nav>
