// =============================================================================
// FACET LABEL (Settings)
// =============================================================================

$facetLabel-backgroundColor:                $buttonStyle-primary-backgroundColor;
$facetLabel-borderRadius:                   3px;
$facetLabel-removeIcon-width:               14px;
$facetLabel-removeIcon-height:              14px;
$facetLabel-removeIcon-color:               $buttonStyle-primary-color;
