{{#partial "page"}}
<div class="page-container">
    <div class="container">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="page page-normal">
            <div class="page-header">
                <h1 class="page-heading">{{lang 'unavailable.hibernation_title'}}</h1>
            </div>
            <main class="page-content">
            	{{> components/common/alert-error (lang 'unavailable.hibernation_message')}}
            </main>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
