<div class="halo-block halo-block-product halo-block-product2 padding-top-30 padding-bottom-30">
	<div class="container">
		<div class="halo-block-header">
            <h3 class="title">{{title}}</h3>
        </div>
        {{#if settings.data_tag_enabled}}
        	{{> components/products/carousel products=products productsnew=productsnew block_id=block_id list="New Products"}}
        {{else}}
        	{{> components/products/carousel products=products productsnew=productsnew block_id=block_id}}
        {{/if}}
	</div>
</div>
{{{region name="home_below_new_products"}}}
