{{#and theme_settings.shop_by_price_visibility shop_by_price}}
    <div class="sidebarBlock">
        <h4 class="sidebarBlock-heading">{{lang 'category.shop_by_price'}}</h4>
        <ul class="navList">
            {{#each shop_by_price}}
            <li class="navList-item">
                <a class="navList-action {{#if selected }} is-active {{/if}}" href="{{url}}" alt="{{low.formatted}} - {{high.formatted}}" title="{{low.formatted}} - {{high.formatted}}"><span>{{low.formatted}} - {{high.formatted}}</span></a>
            </li>
            {{/each}}

            {{#any shop_by_price selected=true}}
                <li class="navList-item view-all">
                    <a href="{{category_url}}">
                        <span>{{lang 'category.reset'}}</span>
                    </a>
                </li>
            {{/any}}
        </ul>
    </div>
{{/and}}
