{{#partial "page"}}
<div class="page-container">
    <div class="container">
        <div class="breadcrumb-wrapper">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        </div>
        <div class="page page-normal">
            <div class="page-header">
                <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
            </div>
            <main class="page-content">
            	<p class="page-normal-text u-textAlignCenter page-not-found">
		            {{lang 'page_not_found.message'}}
		        </p>
		        {{> components/common/search-box}}
            </main>
        </div>
    </div>
</div>
{{/partial}}
{{> layout/base}}
