// =============================================================================
// BLOG
// =============================================================================


// Blog post
// -----------------------------------------------------------------------------

.blog {
    display: block;
    position: relative;
    width: 100%;
}

.blog-title {
    font-size: fontSize("large") + 2px;
    font-weight: $fontWeight-normal;
    line-height: 1.5;
    margin: 0 0 4px 0;

    .home-layout-2 & {
        font-weight: $fontWeight-semibold
    }
}

.blog-date,
.blog-author {
    font-size: $fontSize-root - 2px;
    font-weight: $fontWeight-normal;
    font-style: italic;
    color: stencilColor("color-textSecondary");
    text-align: left;
    margin: 0;
}

.blog-date {
    +.addthis_toolbox {
        margin-top: 9px;

        .socialLinks {
            .socialLinks-item {
                margin-right: 14px;
                margin-bottom: 5px;
            }

            .icon {
                width: 15px;
                height: 15px;

                svg {
                    fill: #2d394a;
                }
            }
        }
    }

    @media (min-width: 1025px) {
        +.addthis_toolbox {
            .socialLinks {
                .icon {
                    &:hover {
                        svg {
                            fill: $color-textLink-hover;
                        }
                    }
                }
            }
        }
    }
}

.halo-blog {
    font-size: 0;
    margin: 0;
    padding: 0 0 25px 0;
    list-style: none;
    text-align: left;
    display: block;

    .halo-blog-item {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding: 0;
        margin: 0 0 30px 0;

        .blog-image {
            display: block;
            position: relative;

            >a {
                display: block;
                overflow: hidden;
                @include lazy-loaded-padding('blog_size');
            }

            img {
                @include lazy-loaded-img;
                opacity: 1;
                visibility: visible;
                border: 0;
                width: 100%;
                max-height: 100%;
                object-fit: contain;
                font-family: 'object-fit: contain;';
                transition: all .7s ease;
            }
        }

        .blog-content {
            margin: 24px 0 0 0;
        }

        .blog-header {
            margin: 0 0 19px 0;
        }

        .blog-body {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            line-height: 1.625;
            color: $color-textBase;

            >a {
                display: inline-block;
                vertical-align: top;
                font-size: $fontSize-root;
                font-weight: $fontWeight-bold;
                font-style: italic;
                color: $header-font-color;
                line-height: 1.625;
                text-transform: unset;
                padding: 0;
                transition: unset;
                width: auto;
                background-image: linear-gradient(transparent 97%, $header-font-color 3%);
                background-repeat: repeat-x;
                background-position-y: -3px;

                &:after {
                    content: ">";
                    position: absolute;
                    font-size: 20px;
                    font-weight: $fontWeight-bold;
                    line-height: 1;
                    top: 4px;
                    right: -10px;

                    .home-layout-2 & {
                        font-weight: 400;
                        right: -15px
                    }
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    +.pagination {
        padding-bottom: 10px;
    }

    @media (min-width: 1025px) {
        .halo-blog-item {
            width: 100%;
            margin-bottom: 50px;

            .blog-image {
                >a {
                    &:before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        z-index: 2;
                        opacity: 0;
                        content: '';
                        visibility: hidden;
                        background-color: rgba(2, 15, 6, .35);
                        transition: all .5s ease;
                    }

                    &:hover {
                        img {
                            transform: scale3d(1.1, 1.1, 1);
                        }

                        &:before {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }

            .blog-body {
                >a {
                    &:hover {
                        color: $color-textLink-hover;
                        background-image: linear-gradient(transparent 97%, $color-textLink-hover 3%);
                    }
                }
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.halo-blog-detail {
    text-align: left;
    display: block;

    .blog-body {
        p {
            margin-bottom: 0;

            +p {
                margin-top: 27px;
            }

            +ul,
            +ol {
                margin-top: 18px;
            }

            a:not(.button--primary) {
                font-style: italic;
                color: $header-font-color;
                background-image: linear-gradient(transparent 97%, $header-font-color 3%);
                background-repeat: repeat-x;
                background-position-y: 0;
            }
        }

        strong {
            font-weight: $fontWeight-bold;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: $fontWeight-normal;
            line-height: 1.5;
            margin-top: 25px;
            margin-bottom: 20px;
        }

        h3 {
            font-size: $fontSize-root;
        }

        ul,
        ol {
            margin: 0 0 20px 20px;

            li {
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                padding: 0;
                list-style: inherit;
                line-height: 35px;
                color: $color-textBase;

                a {
                    font-style: italic;
                    color: $header-font-color;
                    background-image: linear-gradient(transparent 97%, $header-font-color 3%);
                    background-repeat: repeat-x;
                    background-position-y: 0;
                }
            }
        }

        ul {
            list-style: disc outside;
        }

        blockquote {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            font-style: italic;
            margin: 13px 0 40px 0;
            color: $color-textBase;
            background: #fafafa;
            border-radius: 3px;
            text-align: left;
            border: none;
            line-height: 1.75;
            padding: 35px 40px 36px 40px;
            border-left: 5px solid #f4ad57;

            .home-layout-2 & {
                border-left: 5px solid #fd6506;
            }

            p {
                font-size: $fontSize-root;
                margin-bottom: 8px;
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            table-layout: auto;
            margin: 0;

            tr {
                background: transparent;

                &:nth-child(odd) {
                    background: #fafafa;
                }
            }

            td {
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                line-height: 1.75;
                padding: 8px 14px;
                text-align: left;
                color: $color-textBase;

                &.tb-title {
                    color: $header-font-color;
                    font-weight: $fontWeight-bold;
                }
            }
        }
    }

    .blog {
        .blog-image {
            display: block;
            position: relative;
            overflow: hidden;
            @include lazy-loaded-padding('blog_size');

            img {
                @include lazy-loaded-img;
                opacity: 1;
                visibility: visible;
                border: 0;
                width: 100%;
                max-height: 100%;
                object-fit: contain;
                font-family: 'object-fit: contain;';
            }
        }

        .blog-content {
            margin: 24px 0 0 0;
        }

        .blog-header {
            margin: 0 0 19px 0;
        }

        .blog-body {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            line-height: 1.625;
            color: $color-textBase;
        }

        .blog-footer {
            display: block;
            margin: 42px 0 0 0;
            border-top: 1px solid #c5c5cf;
            padding: 36px 0 0 0;
        }

        .blog-tags {
            display: block;
            margin: 0;
            list-style: none;
        }

        .blog-tag {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px 10px 0;
            transition: $anchor-transition;

            span {
                font-style: italic;
            }

            a {
                display: block;
                font-size: $fontSize-root - 2px;
                font-weight: $fontWeight-normal;
                font-style: normal;
                padding: 9px 20px;
                color: #787878;
            }

            &:not(.blog-tag-title) {
                background: #f7f7f7;
                border: 1px solid #f7f7f7;
                border-radius: 20px;
                line-height: 1;
            }
        }
    }

    @media (min-width: 1025px) {
        .blog {
            .blog-tag {
                &:not(.blog-tag-title) {
                    &:hover {
                        background: $buttonStyle-primary-backgroundColorHover;
                        border: 1px solid $buttonStyle-primary-backgroundColorHover;

                        a {
                            color: $buttonStyle-primary-colorHover;
                        }

                        .home-layout-2 & {
                            background: #ffffff;
                            border: 1px solid #000000; 


                            .link {
                                color: #232323;
                            }
                        }
                    }
                }
            }
        }
    }
}

.halo-blog-lookbook {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 0;

    .blog-lookbook-gallery,
    .blog-lookbook-content {
        width: 100%;
        position: relative;
    }

    .lookbook-slider {
        display: block;
        margin: 0;
        padding: 0;

        .item {
            position: relative;

            .image {
                width: 100%;
                position: relative;
                overflow: hidden;
                text-align: center;

                img {

                    &.lazyload,
                    &.lazyloading {
                        width: auto;
                        height: auto;
                        object-fit: contain;
                        margin: auto;
                    }
                }
            }

            .content {
                position: absolute;
                z-index: 6;
                pointer-events: auto;
            }

            .item-point {
                width: 32px;
                height: 32px;
                color: #ffffff;
                font-size: 36px;
                $font-weight: $fontWeight-bold;
                line-height: 25px;
                text-align: center;
                border-radius: 50%;
                display: inline-block;
                vertical-align: top;
                cursor: pointer;
                pointer-events: auto;
                position: relative;
                background-color: $buttonStyle-primary-backgroundColor;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 50%;
                    opacity: .3;
                    background-color: $buttonStyle-primary-backgroundColor;
                    animation: zoom-animation 1.4s ease-in-out infinite;
                }
            }
        }

        &:not(.slick-initialized) {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            font-size: 0;
            letter-spacing: 0;

            >.item {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                overflow: hidden;
            }
        }

        &.slick-slider {
            margin-bottom: 0;
        }
    }

    .slick-dots {
        margin-bottom: 0 !important;
        margin-left: 0 !important;
        bottom: 10px;

        li {
            button {
                background-color: transparent;
                border-color: rgba(255, 255, 255, 0.9);
            }

            &.slick-active {
                button {
                    border-color: rgba(255, 255, 255, 0.9);
                    background-color: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }

    .lookbook-info {
        position: relative;
        width: 100%;
        height: 100%;

        .image {
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &.lazyload,
                &.lazyloading {
                    width: auto;
                    height: auto;
                    margin: auto;
                }
            }
        }

        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            width: 100%;
            padding: 0 15px;
        }

        .sub-heading {
            display: block;
            font-size: $fontSize-root - 2px;
            font-weight: $fontWeight-normal;
            line-height: 28px;
            color: $color-white;
            text-transform: uppercase;
            margin: 0;
        }

        .heading {
            font-size: 24px;
            color: $color-white;
            margin: 0 0 7px 0;
            position: relative;
            top: -5px;
        }

        .desc {
            display: block;
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            font-style: italic;
            line-height: 1.625;
            color: $color-white;
            margin: 0 0 40px 0;
        }

        .button {
            border-color: #ffffff;
            background: #ffffff;
            color: #f0bc93;
            min-width: 216px;
        }
    }

    @media (min-width: 768px) {

        .blog-lookbook-gallery,
        .blog-lookbook-content {
            width: 50%;
        }

        .slick-dots {
            bottom: 27px;
        }

        .lookbook-info {
            .content {
                padding-left: 30px;
                padding-right: 30px;
            }

            .heading {
                font-size: 2*$fontSize-root;
            }
        }
    }

    @media (min-width: 1025px) {
        .slick-dots {
            li {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        .lookbook-info {
            .content {
                padding-left: 70px;
                padding-right: 70px;
            }

            .heading {
                font-size: 40px;

                span {
                    &:before {
                        top: 33px;
                    }
                }
            }

            .button {
                &:hover {
                    background: transparent;
                    color: $color-white;
                }
            }
        }
    }
}